<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	
	<title>Cobranças</title>
	<meta charset="UTF-8"/>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}"/>
	
</head>
<body>
	<h1>TESTE</h1>

	<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript" src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script type="text/javascript" src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery_min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.maskMoney.min.js}"></script>
</body>
</html>