<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cobranças</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
</head>
<body>
	<!-- Manda para as paginas que chamam o Layout o NAVBAR -->
	<header layout:include="Cabecalho"></header>
	
	<!-- Exibe o conteúdo de outra página nesta SECTION -->
	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>

<script th:src="@{/js/jquery_min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/cobrancas.js}"></script>	
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
</body>
</html>